<div class="dropdown" @onclick:stopPropagation>
    <div class="dropdown-toggle"
         @onpointerdown="TogglePointer"
         @onpointerdown:stopPropagation="true">
        <span class="dropdown-toggle-label">@ToggleText</span>
        <span class="dropdown-toggle-value">@((MarkupString)LabelText)</span>
        <span class="dropdown-toggle-arrow @(IsOpen ? "up" : null)">▾</span>
    </div>
    <div class="dropdown-menu @(IsOpen ? "show" : "hide") " tabindex="-1" @onfocusout="LostFocus" @onfocusin="GainedFocus" @ref="myDivRef">
        <div class="dropdown-options">
            <div class="genre-table-header">
                <span>Genre</span>
                <div class="d-inline-flex align-items-center gap-1" @onclick="SelectAllInclude">
                    <span>Include</span>
                </div>

                <div class="d-inline-flex align-items-center gap-1" @onclick="SelectAllExclude">
                    <span>Exclude</span>
                </div>

            </div>

            @foreach (var genre in Genres)
            {
                <div class="genre-table-row">
                    <span class="genre-name">@genre.Name</span>
                    <input class="dropdown-item-checkbox"
                           type="checkbox"
                           checked="@Value.Included.Contains(genre.Id)"
                           @onchange="() => ToggleGenre(genre.Id, true)" />

                    <input class="dropdown-item-checkbox"
                           type="checkbox"
                           checked="@Value.Excluded.Contains(genre.Id)"
                           @onchange="() => ToggleGenre(genre.Id, false)" />
                </div>
            }
        </div>

        <div class="dropdown-footer">
            <button type="button" class="clear-btn" @onclick="ClearAll">Clear All</button>
        </div>
    </div>
</div>