@inherits ComponentBase

<a href="@($"/movie/{Movie.Id}")" class="movie-card-container">
	<div class="movie-card-image">
		<img src="@PosterUrl(Movie.PosterPath)" alt="@Movie.Title poster" />
	</div>

	<div class="movie-card-info">
		<h3 class="movie-title">@Movie.Title</h3>
		<span class="movie-year">@Movie.ReleaseDate?.Split('-')[0]</span>
	</div>
</a>