@typeparam TItem
@typeparam TValue


<div class="multiselect-wrapper" @onclick:stopPropagation>
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="textbox-label">@Label</label>
    }

    <div class="multiselect-dropdown">
        <!-- toggle -->
        <div class="dropdown-toggle"
             @onpointerdown="TogglePointer"
             @onpointerdown:stopPropagation="true">
            <span class="label">@ToggleText</span>
            <span class="count">@SelectedValues.Count</span>
            <span class="arrow @(IsOpen ? "up" : null)">▾</span>
        </div>

        <!-- menu -->
        <div class="dropdown-menu @(IsOpen ? "show" : "hide")"
             tabindex="-1"
             @onfocusout="LostFocus"
             @onfocusin="GainedFocus"
             @ref="MenuRef">
            <div class="dropdown-options">
                @foreach (var elem in Items)
                {
                    var key = ValueSelector(elem);
                    <label class="option-item">
                        <input type="checkbox"
                               checked="@SelectedValues.Contains(key)"
                               @onchange="@(() => Toggle(key))" />
                        <span>@TextSelector(elem)</span>
                    </label>
                }
            </div>

            <div class="dropdown-footer">
                <button class="clear-btn" @onclick="ClearAll">Clear</button>
            </div>
        </div>
    </div>
</div>

<style>

    .multiselect-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .textbox-label {
        font-size: 0.85rem;
        color: #ccc;
        font-weight: 500;
        padding-left: 4px;
    }

    .dropdown-toggle {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: rgba(255,255,255,0.06);
        border-radius: 8px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color: #fff;
        height: 100%;
    }

    .label {
        font-weight: 600;
        font-size: 0.85rem;
    }

    .dropdown-menu {
        width: 200px;
        height: 420px;
        z-index: 9999;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.15s ease, transform 0.25s ease;
        position: absolute;
        top: 100%;
        margin-top: 8px;
        background: #1a1d2b;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.4);
        padding: 1rem;
    }

        .dropdown-menu.show {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        .dropdown-menu.hide {
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;
        }

    .multiselect-dropdown {
        position: relative;
        font-family: sans-serif;
        user-select: none;
        height: 42px;
    }

    .count {
        background: #444;
        padding-left: 8px;
        padding-right: 9px;
        padding-top: 1px;
        padding-bottom: 0px;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    .arrow {
        font-size: 0.9rem;
        opacity: 0.6;
    }

    .dropdown-options {
        max-height: 340px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-bottom: 1rem;
    }

    .option-item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-size: 0.85rem;
        color: #eee;
        padding: 6px 0;
    }

        .option-item input[type="checkbox"] {
            width: 18px;
            height: 18px;
            cursor: pointer;
        }


    .dropdown-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(255,255,255,0.1);
        padding-top: 0.75rem;
    }

    .clear-btn {
        width: 100%;
        padding: 0.4rem 0.8rem;
        border-radius: 6px;
        font-weight: 600;
        cursor: pointer;
        font-size: 0.85rem;
        border: none;
        background: transparent;
        border: 1px solid rgba(95, 143, 255, 0.4);
        color: #5f8fff;
        transition: all 0.2s ease;
        font-weight: 600;
    }

    .clear-btn:hover {
        background: rgba(95, 143, 255, 0.1);
        border-color: #5f8fff;
    }
</style>
