@typeparam TItem
@typeparam TValue

<div class="multiselect-dropdown" @onclick:stopPropagation>
    <div class="multiselect-dropdown-toggle @(IsEnabled ? "multiselect-toggle-enabled" : "multiselect-toggle-disabled")"
         @onpointerdown="TogglePointer"
         @onpointerdown:stopPropagation="true">
        <span class="multiselect-label">@ToggleText</span>
        <span class="multiselect-count">@SelectedLabel</span>
        <span class="multiselect-arrow @(IsOpen ? "up" : null)">▾</span>
    </div>

    <div class="multiselect-dropdown-menu @((IsOpen && IsEnabled) ? "show" : "hide")"
         tabindex="-1"
         @onfocusout="LostFocus"
         @onfocusin="GainedFocus"
         @ref="MenuRef">
        <div class="multiselect-dropdown-options">
            @foreach (var elem in Items)
            {
                var key = ValueSelector(elem);
                <label class="multiselect-option-item">
                    <input type="checkbox"
                           checked="@SelectedValues.Contains(key)"
                           @onchange="@(() => Toggle(key))" />
                    <span>@TextSelector(elem)</span>
                </label>
            }
        </div>

        <div class="multiselect-dropdown-footer">
            <button class="multiselect-clear-btn" @onclick="ClearAll">Clear</button>
        </div>
    </div>
</div>

<style>
    .multiselect-dropdown {
        position: relative;
        user-select: none;
        font-family: inherit;
        height: 42px;
    }

    .multiselect-dropdown-toggle {
        display: flex;
        align-items: center;
        background: rgba(255,255,255,0.06);
        border-radius: 8px;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        color: #fff;
        height: 100%;
        gap: 0.5rem;
        width: 100%;
        min-width: 200px;
        justify-content: space-between;
    }

    .multiselect-toggle-enabled {
        cursor: pointer;
    }

    .multiselect-toggle-disabled {
        color: #aaa;
        cursor: not-allowed;
        pointer-events: none; 
    }

    .multiselect-label {
        font-weight: 600;
        font-size: 0.85rem;
        white-space: nowrap;
    }

    .multiselect-count {
        background: #444;
        padding-left: 8px;
        padding-right: 9px;
        padding-top: 1px;
        padding-bottom: 0px;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    .multiselect-arrow {
        font-size: 1.5rem;
        line-height: 0;
        opacity: .6;
        display: inline-block;
        transition: transform .25s ease;
    }

        .multiselect-arrow.up {
            transform: rotate(-180deg);
        }

    .multiselect-dropdown-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 100%;
        height: fit-content;
        min-height: 100px;
        min-width: 200px;
        z-index: 9999;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: opacity 0.15s ease, transform 0.25s ease;
        top: 100%;
        margin-top: 8px;
        background: #1a1d2b;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.4);
        padding: 1rem;
    }

        .multiselect-dropdown-menu.show {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }

        .multiselect-dropdown-menu.hide {
            opacity: 0;
            transform: translateY(-10px);
            pointer-events: none;
        }

    .multiselect-dropdown-options {
        max-height: 350px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding-bottom: 1rem;
    }

    .multiselect-option-item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        font-size: 0.85rem;
        color: #eee;
        padding: 6px 0;
    }

        .multiselect-option-item input[type="checkbox"] {
            accent-color: #5f8fff;
            width: 18px;
            height: 18px;
            cursor: pointer;
        }


    .multiselect-dropdown-footer {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(255,255,255,0.1);
        padding-top: 0.75rem;
    }

    .multiselect-clear-btn {
        width: 100%;
        padding: 0.4rem 0.8rem;
        border-radius: 6px;
        font-weight: 600;
        cursor: pointer;
        font-size: 0.85rem;
        border: none;
        background: transparent;
        border: 1px solid rgba(95, 143, 255, 0.4);
        color: #5f8fff;
        transition: all 0.2s ease;
        font-weight: 600;
    }

        .multiselect-clear-btn:hover {
            background: rgba(95, 143, 255, 0.1);
            border-color: #5f8fff;
        }
</style>
