@typeparam TItem
@typeparam TValue

<div class="dropdown" @onclick:stopPropagation>
    <div class="dropdown-toggle @(IsEnabled ? "multiselect-toggle-enabled" : "multiselect-toggle-disabled")"
         @onpointerdown="TogglePointer"
         @onpointerdown:stopPropagation="true">
        <span class="dropdown-toggle-label">@ToggleText</span>
        <span class="dropdown-toggle-count">@SelectedLabel</span>
        <span class="dropdown-toggle-arrow @(IsOpen ? "up" : null)">▾</span>
    </div>
    <div class="dropdown-menu @((IsOpen && IsEnabled) ? "show" : "hide")"
         tabindex="-1"
         @onfocusout="LostFocus"
         @onfocusin="GainedFocus"
         @ref="MenuRef">
        <div class="dropdown-options">
            @foreach (var elem in Items)
            {
                var key = ValueSelector(elem);
                <label class="multiselect-option-item">
                    <input type="checkbox"
                           class="dropdown-item-checkbox"
                           checked="@SelectedValues.Contains(key)"
                           @onchange="@(() => Toggle(key))" />
                    <span>@TextSelector(elem)</span>
                </label>
            }
        </div>

        <div class="dropdown-footer">
            <button type="button" class="clear-btn" @onclick="ClearAll">Clear</button>
        </div>
    </div>
</div>