@typeparam TItem
@using System.Linq
@using CineVerse.client.Services.Interfaces

<div class="pager">
	<div class="pagination-controls">

		<button class="nav-btn" @onclick="FirstPage" disabled="@IsFirstPageDisabled">FirstPage</button>

		<button class="nav-btn" @onclick="PreviousPage" disabled="@IsPreviousDisabled">Previous</button>

		@foreach (var pageNumber in PageWindow)
		{
			<button @onclick="() => GoToPage(pageNumber)"
					class="page-btn @(CurrentPage == pageNumber ? "active" : null)"
					disabled="@(CurrentPage == pageNumber)">
				@pageNumber
			</button>
		}

		<button class="nav-btn" @onclick="NextPage" disabled="@IsNextDisabled">Next</button>

		<button class="nav-btn" @onclick="LastPage" disabled="@IsLastPageDisabled">Last Page</button>
	</div>
</div>
