@using CineVerse.client.Components
@inherits LayoutComponentBase

<ToastContainerComponent />

<div class="layout-root">
   <div class="layout-left">
        <!-- DRAWER -->
        <nav class="drawer @( _drawerOpen ? "open" : "closed")">
            <div class="logo-area" @onclick="ToggleDrawer">
                <img src="/cineverse-icon.png" width="38" />
                <span class="logo-text @(_drawerOpen ? "open" : "closed")">CINEVERSE</span>
            </div>

            <ul class="nav-list">
                <li>
                    <a href="/" class="nav-link @(CurrentUrl == "/" ? "active" : null)">
                        <i class="material-icons">home</i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/movies/search" class="nav-link @(CurrentUrl == "/movies/search" ? "active" : null)">
                        <i class="material-icons">movie</i>
                        <span class="nav-text">Search Movies</span>
                    </a>
                </li>
            </ul>
        </nav>
   </div>

    <div class="layout-right @(_drawerOpen ? "open" : "closed")">
        <!-- ▸ APP BAR ------------------------------------------------------>
        <div class="appbar">
            <SearchbarComponent @bind-Query="Query" />

            <img class="avatar" src="https://i.pravatar.cc/40" />
        </div>

        <!-- BODY -->
        <main class="content-area">
            @Body
        </main>
    </div>
</div>