@inherits LayoutComponentBase
@inject MudTheme Theme

<MudThemeProvider Theme="Theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="layout-root" style="background-color: red;">

    <MudAppBar Dense="true"
               Position="Position.Fixed"
               Elevation="0"
               Color="Color.Primary"
               Class="appbar">

        <MudIconButton Icon="@Icons.Material.Filled.Menu"
                Color="Color.Inherit"
                Edge="Edge.Start"
                OnClick="ToggleDrawer" />

        <MudDrawerHeader Class="logo-area">
            <img src="/cineverse-icon.png" width="28" />
            <MudText Typo="Typo.h6" Class="ml-2">CINEVERSE</MudText>
        </MudDrawerHeader>

        <MudSpacer />

        <MudAvatar Size="Size.Medium" Img="https://i.pravatar.cc/40" />
    </MudAppBar>

    <div class="main-area" style="background-color: blue;">

        <MudDrawer Variant="DrawerVariant.Mini"
                   MiniWidth="72"
                   Elevation="0"
                   Color="Color.Tertiary"
                   Class="drawer"
                   Open="@_drawerOpen">

            <MudNavMenu Dense="true">
                <MudNavLink Icon="@Icons.Material.Filled.Home"
                            Href="/"
                            HideTextWhenMini="true">Home</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.Movie"
                            Href="/movies"
                            HideTextWhenMini="true">Movies</MudNavLink>
                <MudNavLink Icon="@Icons.Material.Filled.LocalOffer"
                            Href="/genres"
                            HideTextWhenMini="true">Genres</MudNavLink>
            </MudNavMenu>
        </MudDrawer>

        <div class="content-area p-6" style="background-color: green;">
            @Body
        </div>
    </div>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = true;
    private void ToggleDrawer() => _drawerOpen = !_drawerOpen;
}

<style>

    :root {
        --appbar-h: 56px; 
    }

    .layout-root {
        display: flex;
        flex-direction: column;
        height: 100vh; 
    }

    .appbar {
        height: var(--appbar-h);
        z-index: 2000;
        border-bottom: none;
        flex-shrink: 0;
        border-bottom: none;
    }

    .main-area {
        display: flex;
        height: calc(100vh - var(--appbar-h));
        padding-top: var(--appbar-h); 
        overflow: hidden;
    }

    .drawer {
        transition: width 250ms ease;
        border-right: none;
    }

    .drawer.mud-drawer-closed {
        width: 72px; 
    }

    .logo-area {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
    }

    .content-area {
        flex: 1;
        overflow: auto;
    }

</style>
